@keyframes background{
    0% {background-color:  #000000;}
    20% {background-color: #404040;}
    40% {background-color: #808080;}
    60% {background-color: #b3b3b3;}
    80% {background-color: #291f28;}
    100% {background-color: #ffffff;}
}
