@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');
body {
 background-image: url("https://t4.ftcdn.net/jpg/05/09/40/07/360_F_509400712_Yv1QEGh7RZXQJJYjthPjrs6Htm69vJ2u.jpg"), url("https://t4.ftcdn.net/jpg/05/09/40/07/360_F_509400712_Yv1QEGh7RZXQJJYjthPjrs6Htm69vJ2u.jpg");
}

h1 {
  background-color: black;
  color: white;
  font-family: 'Be Vietnam Pro', sans-serif;
}

div {
  background-color: black;
  color: white;
}
