@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');
body {text-align: center;
  background-color: black;
  color: white;
  text-align: center;
}

h1 {text-align: center;
  background-color: black;
  color: white;
  font-family: 'Be Vietnam Pro', sans-serif;
  text-align: center;
}

div {text-align: center;
  background-color: black;
  color: white;
  text-align: center;
}

img{text-align: center;
border-radius: 20px;
text-align: center;
} 
