@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');
body {
  background-color: black;
  color: white;
}

h1 {
  background-color: black;
  color: white;
  font-family: 'Be Vietnam Pro', sans-serif;
}

div {
  background-color: black;
  color: white;
}

img{
border-radius: 20px;
} 
